/* You can add global styles to this file, and also import other style files */
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: 'Open Sans', sans-serif;
  /* font-size: 14px; */
}

.outline {
  border: 1px solid darkgray;
  padding: 1rem;
}
